@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {

    font-size: 100%;

    --colorA: #916960;
    --colorB: #FFE2DB;
    --colorC: #DEB2A8;

    --colorD: #51917A;
    --colorE: #A9DECB;

    --border: 2px solid black;
    color: rgba(0,0,0,0.9);
    background-color: var(--colorC);

    --itembox-bgcolor: white;

    --headerFont: 'Oswald', sans-serif;
    --regularFont: 'Roboto Slab', serif;

    --headerLarge: 3em;
    --headerMedium: 2em;
    --headerSmall: 1em;
}

h1 {
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
}


input[type='checkbox'], label {
    cursor: pointer;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--colorA);
    border-bottom: var(--border);
}

nav {

}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 70vh;
    padding-top: 2rem;
}

footer {
    display: flex;
    min-height: 100px;
    background-color:var(--colorA);
    border-top: var(--border);
}

.navlogo {
    width: 300px;
    height: auto;
}

.filterlist {
    width: 20%;
    height:200px;
    background-color:green;
}

#movielist {
    background-color:green;
    width: 60%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 200px;
    height: 350px;
    background-color: var(--itembox-bgcolor);
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.8s;
    font-family: var(--headerFont);
    font-size: var(--headerSmall);
}
.card:hover {
    background-color: red;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card img {
    width: 80%;
    height: auto;
}

.testclass {
    display:block;
    background-color:red;
    width: 80%;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
  }

  .modal-header {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    padding: 0.3em 0 0 2em;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid black;
  }

  .modal-header h1 {
    display: block;
    width: fit-content;
    min-width: 50%;
    letter-spacing: 0.1em;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
    color: hsl(200 50% 90%);
    background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.5), transparent);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .modal-moviedetails {
    display: flex;
    flex-flow: row wrap;
  }

  .modal-moviedetails div {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 0.5em 1em;
    /*background-color:yellow;*/
    font-family: var(--headerFont);
    font-size: var(--headerSmall);
    font-weight: 700;
  }

  .modal-moviedetails div:nth-child(even) {
    /*background-color:blue;*/
    text-align: right;
    font-weight: normal;
  }

  .modal-moviedetails div:nth-last-child(1), .modal-moviedetails div:nth-last-child(2) {
    width: 100%;
    text-align: left;
  }

  .modal-moviedetails div:nth-last-child(1) {
    font-style: italic;
  }
  
  .close-modal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border-radius: 50%;
    border: 2px solid #aaa;
    float: right;
    font-size: 2em;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    transition: all 0.8s;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #000;
    border-color: #000;
    text-decoration: none;
    cursor: pointer;
  }