@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}

:root {

  font-size: 100%;

  --colorA: #9590A8;
  --colorB: #E5FFDE;
  --colorC: #BBCBCB;

  --colorD: #0F6AA3;
  --colorE: #46AEF0;

  /*#18020C*/

  --sectionBgColor: var(--colorA);

  --cardHoverCol: red;
  --genreButtonCol: var(--colorE);
  --navButtonHoverCol: var(--colorE);

  --border: 2px solid black;
  color: rgba(0,0,0,0.9);
  background-color: var(--colorC);

  --linkCol: #000;
  --hoverCol: blue;

  --itembox-bgcolor: white;

  --headerFont: 'Oswald', sans-serif;
  --regularFont: 'Roboto Slab', serif;

  --headerLarge: 3em;
  --headerMedium: 2em;
  --headerSmall: 1em;

  --regularLarge: 2em;
  --regularMedium: 1em;
  --regularSmall: .6em;

}

h1, h2, h3 {
  font-family: var(--headerFont);
  font-size: var(--headerLarge);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--headerMedium);
}

h3 {
  font-size: var(--headerSmall);
}

a {
  color: var(--linkCol);
  font-weight: 700;
  transition: all .5s ease-out;
}
a:hover {
  color: var(--hoverCol);
}


input[type='checkbox'], label {
  cursor: pointer;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: space-between;
}

.wrapper {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 280px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}


header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 .5em;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--colorA);
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
}


.mainmenu {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
}

.bgGradient {
  background-image: linear-gradient(to bottom, black, transparent), linear-gradient(to top, black, transparent);
  background-size: 100% 5px, 100% 10px;
  background-position: center top, center bottom;
  background-repeat: no-repeat;
}

.insetBorder, .category-button, .search-container button {
  box-shadow: 0px 0px 10px 3px #000 inset;
  border-radius: 5px;
}

.category-button {
  background-color: var(--colorE);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--headerFont);
  font-size: var(--headerSmall);
  opacity: .5;
  transition: background-color 1s ease-out, opacity .5s ease-out, transform .5s ease-out, box-shadow .5s ease-in, color .5s ease-in;
}

.category-button:hover {
  background-color: var(--navButtonHoverCol);
  color: #fff;
}

.button-highlight {
  outline: 0;
  border: 0;
  transform: scale(1.1);
  background-color: var(--navButtonHoverCol);
  font-weight: 900;
  opacity: 1;
  color: #fff;
  mix-blend-mode: hard-light;
}

.mainmenu ul {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline;
}

.mainmenu ul li {
  display: inline;
  box-sizing: border-box;
  padding: 0;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 70vh;
  padding-top: 2rem;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

footer {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0 1em;
  min-height: 100px;
  background-color:var(--colorA);
  border-top: var(--border);
}

footer h2 {
  font-size: var(--headerSmall);
  padding-top: 1em;
}

footer p {
  font-family: var(--regularFont);
  font-size: var(--regularMedium);
}

.navlogo {
  width: 500px;
  height: auto;
  transition: all 0.8s ease-out;
  margin-bottom: 1em;
}

.navlogo-small {
  width: 300px;
}

.search-container {
  background-color: orange;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.search-container button {
  margin: 0;
  padding: 6px 10px;
  background-color: var(--colorE);
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  opacity: .7;
  transition: all 0.8s;
}

.search-container button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.search-icon {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('images/searchicon.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#search {
  font-family: var(--headerFont);
  font-size: var(--headerSmall);
}


.filterlist {
  width: 20%;
  height: fit-content;
  padding: 2em 1em 3em 1em;
  background-color: var(--sectionBgColor);
  font-family: var(--headerFont);
  font-size: var(--headerSmall);
}

.filterlist h2 {
  padding: 0;
  margin: 0;
  line-height: 1em;
  height: fit-content;
}

.filterlist p {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.filterlist label {
  width: 100%;
}

.filterlist input[type='range'] {
  width: 80%;
}

.filterlist select {
  width: 80%;
  font-family: var(--headerFont);
  font-size: var(--headerSmall);
}

.filterlist span {
  width: fit-content;
  text-align: right;
}

.statusmessage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#movielist {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.cardwrapper {
  background-color: var(--sectionBgColor);
  width: 60%;
  padding: 2em 1em 3em 1em;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  height: 350px;
  margin: 0;
  padding: 1em 0 1.5em 0;
  background-color: var(--itembox-bgcolor);
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.8s;
  font-family: var(--headerFont);
  font-size: var(--headerSmall);
}
.card:hover {
  background-color: var(--cardHoverCol);
  cursor: pointer;
  transform: scale(1.1);
}
.card:hover img {
  filter: brightness(200%);
}
.card img {
  width: 160px;
  height: 240px;
  object-fit: cover;
  transition: all 0.8s;
}

.textholder {
  width: 80%;
}

.cardtext {
  display:block;
  width: 100%;
}

#movieCast {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  width: 100%;
  background-color: rgba(0,0,0,.2);
  padding: 1em 0 2em 0;
  justify-items: center;
}

.actorCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: .3em;
  width: 70px;
  padding-top: .3em;
  transition: all 0.8s;
}

.actorCard:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.actorCard img {
  width: 60px;
  height: 70px;
  object-fit: cover;
  border: 2px solid #000;
}

.actorName {
  font-family: var(--regularFont);
  font-size: var(--regularSmall);
  width: 100%;
  text-align: center;
}


#genreboxes {
  justify-content: flex-start;
  gap: 1em;
}
#genreboxes label {
  width: fit-content;
}
input[type='checkbox'] {
  display: none;
}
.checkbox-container {
  margin: 0;
  padding: .3em;
  background-color: var(--genreButtonCol);
  border: 2px solid #000;
  opacity: .3;
  border-radius: 5px;
  transition: opacity 1s, transform .8s, color .8s;
}
.checkbox-container:hover {
  color: #fff;
  transform: scale(1.1);
}
input[type='checkbox']:checked+label {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}

.modal-header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 250px;
  padding: 0.3em 0 0 2em;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
}

.modal-header h1 {
  display: block;
  width: fit-content;
  min-width: 50%;
  letter-spacing: 0.1em;
  text-shadow: .1em .1em 0 hsl(200 50% 30%);
  color: hsl(200 50% 90%);
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.5), transparent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-moviedetails {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 2em;
}

.modal-moviedetails div {
  display: block;
  box-sizing: border-box;
  width: 50%;
  padding: 0.5em 1em;
  font-family: var(--headerFont);
  font-size: var(--headerSmall);
  font-weight: 700;
}

.modal-moviedetails div:nth-child(even) {
  text-align: right;
  font-weight: normal;
}

.modal-moviedetails div:nth-last-child(1), .modal-moviedetails div:nth-last-child(2) {
  width: 100%;
  text-align: left;
}

.modal-moviedetails div:nth-last-child(1) {
  font-family: var(--regularFont);
  font-size: var(--regularMedium);
  font-style: italic;
}
  
.close-modal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #aaa;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  border: 2px solid #aaa;
  float: right;
  font-size: 2em;
  width: 1em;
  height: 1em;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  transition: all 0.8s;
  box-shadow: 1px 1px 3px rgba(255,255,255,0.8);
  filter: invert(100%);
}
  
.close-modal:hover,
.close-modal:focus {
  color: #000;
  border-color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: hsl(200 50% 90%);
  transform: scale(1.5);
}



  

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  header {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
  }
  .navlogo {
    width: 200px;
    align-self: flex-start;
  }
  .navlogo-small {
    width: 100px;
  }
  .search-container {
    margin-top: 1em;
    width: 100%;
    justify-content: space-between;
    gap: 0 1em;
  }
  .search-container input[type='text'] {
    width: 90%;
  }
  .mainmenu {
    width: 100%;
  }
  .mainmenu ul {
    display: flex;
    flex-flow: column nowrap;
    gap: .5em 0;
  }
  .mainmenu button {
    width: 80%;
  }
  main {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .cardwrapper {
    width: 100%;
  }
  #movielist {
    justify-items: center;
  }
  .modal-moviedetails div {
    width: 100%;
  }
  .modal-moviedetails div:nth-child(even) {
    text-align: left;
  }
  .filterlist {
    width: 100%;
    padding-top: 4vh;
  }
  h1 {
    font-size: var(--headerMedium);
  }
} 